<h2 id="subpageTitle">Register Players</h2>

<div id="registrationMessage">{{message}}</div>

<form (ngSubmit)="registerContestants()">
  <div *ngFor="let player of players; index as i; trackBy:trackByFn">
    <input [id]="'contestant'+i"
           type="text"
           [placeholder]="'Contestant ' +i"
           [name]="'Contestant '+i"
           [(ngModel)]="players[i]">
  </div>

  <button id ="registerContestantsButton" type="submit">Register Contestants</button>
</form>

<button type='button'
    (click)="autofillTwoPlayers()" id="autofillTwoButton">Autofill 2 Players</button>

<button type='button'
    (click)="autofillFourPlayers()" id="autofillFourButton">Autofill 4 Players</button>


<button type='button'
    (click)="autofillEightPlayers()" id="autofillEightButton">Autofill 8 Players</button>
